# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Virtual environment
bm_venv/
venv/
env/


echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore

# Environment variables
.env

# Django migrations (optional: track only initial migrations)
migrations/
!migrations/__init__.py

# Database files
*db.sqlite3
*.db

# Logs & Temporary files
*.log
*.pot
*.pyc
*.swp
*.swo
.DS_Store

# Static files (collected in production)
staticfiles/
media/

# VSCode settings (if using VSCode)
.vscode/
