{%extends "bm_app/base.html"%}

{% load static %}

{% block title %}Add Books - Brihad Mridanga{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">        
        <form class="mb-3" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            
            {% if formset.non_form_errors %}
            <div class="alert alert-danger">
                {{ formset.non_form_errors }}
            </div>
            {% endif %}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Book</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <tr>
                            <td>
                                {{ form.book.label_tag }} {{form.book}}
                                {% if form.book.errors %}
                                    <div class="text-danger">{{ form.book.errors }}</div>
                                {% endif %}
                            </td>
                            <td>
                                {{form.quantity.label_tag}} {{ form.quantity }}
                                {% if form.quantity.errors %}
                                    <div class="text-danger">{{ form.quantity.errors }}</div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{%endblock%}