{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Brihad Mridanga{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bm_app/css/style.css' %}">
</head>
<body>
    {% comment %} {{ user }} {% endcomment %}
    {% if request.user.is_authenticated %}
        <header>
            <nav class = "nav-right">
                <a id = "logout" href="{% url 'logout' %}">Logout</a>
            </nav>
        </header>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html> 